* {
    box-sizing: border-box;
}

/*--------------- main(carousel) -------------*/

.carousel-inner {
    height: 100vh;
}

.carousel-item img {
    height: 100vh;
}

/*------------- main (contenedor) ----------- */

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
 
 
    grid-template-areas: "item1 item2"
                         "item3 item4"
                         "item5 item4"
                         "item6 item7"
                         "item6 item8"
 }
 
 .contenedor .item1 {
    grid-area: item1;
    height: 100%;
 }
 
 .contenedor .item1 img {
    height: 100%;
 }

 .contenedor .item2 {
    grid-area: item2;
    height: 100%;
 }
 
 .contenedor .item3 {
    grid-area: item3;
    display: flex;
    flex-flow: row;
    height: 375px;
 }
 
 .contenedor .item3 img {
    width: 54%;
 }
 
 .contenedor .item4 {
    grid-area: item4;
 }
 
 .contenedor .item4 img {
    height: 49%;
 }
 
 .contenedor .item5 {
    grid-area: item5;  
 }
 
 .contenedor .item5 img {
    height: 100%;
 }

 .contenedor .item6 {
    grid-area: item6; 
 }
 
 .contenedor .item6 img {
    height: 48.3%;
 }
 
 .contenedor .item7 {
    grid-area: item7;
    display: flex;
    flex-flow: row;  
 }
 
 .contenedor .item7 img {
    width: 50%;
 }
 
 .contenedor .item8 {
    grid-area: item8;
 }
 
 .contenedor .item8 img {
    height: 100%;
 }
 
 .contenedor img {
    width: 100%;
 }
 
 .item2 h2 {
    width: 30%;
    margin-top: 10%;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
 }
 
 .item2 p {
    width: 80%;
    margin-left: 7%;
    margin-top: 9%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    color: #7e7b7e;
 }
 
 .item2 .enlaceHome {
    margin-top: 5%;
    margin-bottom: 2%;
 }

 .enlaceHome:hover a {
     color: silver;
     color: rgba(255, 248, 220, 0.712);
 }
 
 .item2 a {
    text-decoration: none ;
    text-transform: uppercase;
    color: #7e7b7e;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-left: 7%;
    
 }
 
 .item3 h3,
 .item7 h3 {
    width: 30%;
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #7e7b7e;
 }
 
 .item3 p,
 .item7 p {
    width: 80%;
    margin: 0px auto;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    color: #7e7b7e;
 }
 
 .item4 h3 {
    width: 30%;
    margin-top: 5%;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #7e7b7e;
    text-transform: uppercase;
 }
 
 .item4 p {
    width: 80%;
    margin-left: 7%;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    color: #7e7b7e;
 }
 
 .item6 h3 {
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #7e7b7e;
    text-transform: uppercase;
 }
 
 .item6 p {
    width: 91%;
    margin-left: 5%;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    color: #7e7b7e; 
 }

 /* -------------- index (aside) ------------ */
 .h2Servicios {
    color: #000000;
    /* margin-top: 50px; */
    padding-top: 50px;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

 .serviciosHome {
    height: auto;  
}

 .divServicio1 {
    background-image: url(imagenes/Diseño\ arquitectonico\ 2.jpg);
    background-size: cover;
 }
 
 .divServicio2 {
    background-image: url(imagenes/construccion_administracion\ 2.jpg);
    background-size: cover;
 }
 
 .divServicio3 {
    background-image: url(imagenes/construccion_administracion\ 4.jpg);
    background-size: cover;
 }
 
 .divServicio4 {
    background-image: url(imagenes/interior\ designe\ 4.jpg);
    background-size: cover;
    background-position: center;
 }

.divServicio1,
.divServicio2,
.divServicio3,
.divServicio4 {
   min-height: 450px;
}

.divServicio1 h3,
.divServicio2 h3,
.divServicio3 h3,
.divServicio4 h3 {
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}
.divPS {
    margin-top: 20%;
    height: 200px ;
}

.divServicio1 p,
.divServicio2 p,
.divServicio3 p,
.divServicio4 p {
    
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}

.divServicio1 a,
.divServicio2 a,
.divServicio3 a,
.divServicio4 a {
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}

.divServicio1 a:hover,
.divServicio2 a:hover,
.divServicio3 a:hover,
.divServicio4 a:hover {
    color: #ffffffb7;
}

.verMas {
    margin-top: 10%;
}

/* ---------- index contacto --------------*/

.h3Contacto {
   color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.contenedorAside {
    margin-top: 100px;
    display: flex;
    flex-direction: row;   
 }
 
 .iframe, .imgLadrillo{
    width: 50%;
 }
 
 .imgLadrillo {
    background-image: url(imagenes/pared_ladrillos_2.jpeg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    position: relative;
 }
 
 .imgLadrillo h3 {
    text-align: center;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 100;
    color: #ffffff;   
 }
 
 .subcontenedorAside {
    margin-top: 35%;
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
 }
 
 .itemAside {
    width: 20%;
    text-align: center;
    height: 75%;
 }
 
 .itemAside h4 {
    /* padding-bottom: 15px; */
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
 }
 
 .itemAside p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
 }

 /* ------------- index footer----------------- */

 


/* ----------SECCION ESTUDIO------------ */

.divTituloEstudio {
   width: 78%;
   margin: 0px auto;
}

.divTituloEstudio h1 {
   font-size: 32px;
   font-weight: 100;
   color: #7e7b7e;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.estudioParrafos {
   width: 78%;
   margin: 0px auto;
}
.estudioImg {
   width: 100%;
   margin-bottom: 30px;
}

.asideEstudio {
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: solid 1px coral;
   width: 50%;
   margin: 20px auto;
}

/* header */

.brand--background {
   background-color: black;
   height: 40px;
   margin: 0px 5px;
   padding: 5px;
}

.brand__nombreBrand {
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
}

.brand__simboloMas {
   color: crimson;
}

.lineaLista__enlace--hover:hover {
   border-bottom: solid 1px black;
   margin-top: -5px;
   font-weight: 600;
   background-color: rgba(236, 236, 236, 0.50); 
}

/* footer */

.estudioFooter--flex {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   padding: 10px 15px;
}

.castetLogo--flex {

   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 15px;
}

.logo {
   display: flex;
   align-items: center;
   background-color: #7e7b7e;
   width: auto;
   height: 50px;
   margin-right: 11px;
}

.logo__letras {
   font-family: 'Black Ops One', cursive;
   font-size: 22px;
   color: #000000;
   text-transform: uppercase;
   margin-top: 30%;
   padding: 5px;
}

.legend--flex {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.legend__p1 {
   color: #afaeaf;
   text-transform: uppercase;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   width: 100%;
   text-align: center;
   margin-bottom: 6px;
}

.legend__span {
   color: red;
   margin: 0px 5px;
}

.legend__p2 {
   color: #7e7b7e;
   text-transform: uppercase;
   font-size: 10px;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
}

.logosRedes--flex {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.logosRedes {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 10%;
}

i {
   /* // color: rgb(207, 53, 53); */
   color: crimson;
   font-size: 50px;
}

/* modal */

.cuadroModal__brand--background {
   background-color: black;
   height: 40px;
   padding: 5px;
}

.cuadroModal__brand {
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
}

.prueba {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: auto;
   
}

.prueba__div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 24%;
   height: 590px;
   border: solid 1px gray;
   border-radius: 10px;
   margin: 10px auto;
}

.prueba__h3 {
   width: 95%;
   padding: 10px;
   text-align: center;
   font-size: 20px;
   border: solid 1px rgb(136, 136, 136);
   border-radius: 5px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   color: rgb(240, 240, 240);
   background-color: rgba(94, 91, 91, 0.637);
}

.prueba__img {
   width: 95%;
   min-height: 280px;
   margin: 0px auto;
   border: solid 2px rgb(122, 112, 18);
   border-radius: 5px;
   background-image: url(imagenes/Diseño\ arquitectonico.jpg);
   background-size: cover;
}

.prueba__img1 {
   width: 95%;
   min-height: 280px;
   margin: 0px auto;
   border: solid 2px rgb(122, 112, 18);
   border-radius: 5px;
   background-image: url(imagenes/Direccion\ de\ obra\ ejectiva.jpg);
   background-size: cover;
}

.prueba__img2 {
   width: 95%;
   min-height: 280px;
   margin: 0px auto;
   border: solid 2px rgb(122, 112, 18);
   border-radius: 5px;
   background-image: url(imagenes/construccion_administracion_1.jpg);
   background-size: cover;
}

.prueba__img3 {
   width: 95%;
   min-height: 280px;
   margin: 0px auto;
   border: solid 2px rgb(172, 172, 172);
   border-radius: 5px;
   background-image: url(imagenes/interior\ designe\ 6.png);
   background-size: cover;
   background-position: center;
}

.prueba__divP {
   width: 95%;
   height: 90px;
   margin: 0px auto;
   font-family: 'Roboto', sans-serif;
}

.prueba__divPP {
   margin: 10px auto;
   text-align: justify; 
}

.prueba__a {
   text-decoration: none;
   text-transform: uppercase;
   color: rgb(77, 76, 76);
   background-color: rgb(209, 209, 209);
   background-color: lightgray;
   background-color: rgba(80, 77, 77, 0.637);
   color: rgb(91, 91, 92);
   color: rgb(245, 241, 241);
   border: solid 1px grey;
   border-radius: 5px;
   padding: 5px;
   margin-top: 30px;
   font-size: 10px;
   font-weight: 700;
}

 /* -------------Media Q----------------------- */

 @media only screen and (max-width: 475px) {

               /* carousel */

.carousel {
   height: 250px;
}

.carousel-inner {
   height: 100%;
}

.carousel-item {
   height: 100%;
}

.carousel-item > img {
   height: 100%;
}


         /* h3, p y bg generales */
   
.item3 > div > h3,
.item4 > h3,
.item6 > h3,
.item7 > div > h3 {
width: 86%;
margin: 30px auto;
color: white;
}
   
.item3 > div > p,
.item4 > p,
.item6 > p,
.item7 > div > p {
width: 86%;
margin-bottom: 50px;
color: rgb(151, 151, 151);
color: rgb(201, 201, 201);
text-align: justify;
}
   
.item3,
.item4,
.item6,
.item7 {
background-color: black;
}

            /* item 2 */
.item2 {
margin-bottom: 20px;
background-color: white;
}

.item2 > h2 {
color: #000;
}

.item2 > p {
width: 86%;
text-align: justify;
}

.enlaceHome {
margin-bottom: 20px;
}

.enlaceHome > a {
margin-left: 80%;
}
            /* item3 e item7 */

.contenedor .item3, 
.contenedor .item7 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contenedor .item3 img,
.contenedor .item7 img {
width: 100%;
}

            /* item 6 */

.item4 > p {
   margin-bottom: 120px;
}


.item6 > p {
   margin-bottom: 160px;
}

   .serviciosHome {
    display: flex;
    flex-direction: column;
}

.subcontenedorAside {
  
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.itemAside {
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px 0 10px 0;
}

aside {
   display: flex;
   flex-direction: column;
}

.h3Contacto {
  color: #000000;
  margin-top: 100px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.estudioFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.letras {
  margin-right: 10px;
}

.estudioFooter {
  display: flex;
  flex-direction: column;
}

.castetLogo {
  width: 90%;
  margin: 10px auto;
}

.logosRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.fab {
  color:rgba(122, 122, 81, 0.514)
}
                /* servicios index */
.prueba {
   display: flex;
   flex-direction: column;
}

.prueba__h3 {
   background-color: rgba(105, 102, 102, 0.637);
   color: rgb(253, 253, 237);
   color: rgb(212, 212, 212);
   font-weight: 700;
}

.prueba__div {
   width: 100%;
   background-color: rgb(0, 0, 0);
}

.prueba__img,
.prueba__img1,
.prueba__img2,
.prueba__img3 {
   border: solid 1px rgba(129, 129, 129, 0.623);
}

.prueba__divPP {
   color: rgb(184, 184, 184);
}

.prueba__a {
   background-color: rgba(105, 102, 102, 0.637);
   color: rgb(253, 253, 237);
}

               /* donde encontrarnos */

.contenedorAside {
   display: flex;
   flex-direction: column;
   margin-top: -5px;
}

.iframe,
.imgLadrillo {
   width: 100%;
}

.imgLadrillo > h3 {
   margin-top: 70px;
}

.contenedor {
      
   grid-template-areas:"item1 item1"
                       "item2 item2"
                       "item3 item3"
                       "item4 item4"
                       "item5 item5"
                       "item6 item6"
                       "item7 item7"
                       "item8 item8"
}
}

@media only screen and (min-width: 476px) and (max-width: 768px) {

                        /* carousel */

.carousel {
   height: 350px;
}

.carousel-inner {
   height: 100%;
}

.carousel-item {
   height: 100%;
}

.carousel-item > img {
   height: 100%;
}

/* ------------------------------- CONTENEDOR */

.contenedor {
      
   grid-template-areas:"item1 item1"
                       "item2 item2"
                       "item3 item3"
                       "item4 item4"
                       "item5 item5"
                       "item6 item6"
                       "item7 item7"
                       "item8 item8"
}

/*------------------------------- item 2 */

.contenedor .item1 {
   height: 310px;
}

.imgIndex {
   height: 100%
}

.item2 {
margin-bottom: 10px;
background-color: white;
}
               
.item2 > h2 {
color: #000;
}
               
.item2 > p {
width: 86%;
text-align: justify;
}
               
.enlaceHome {
margin-bottom: 20px;
}
               
.enlaceHome > a {
margin-left: 7%;
}

/* --------------------- otros items */

.item3 > div > h3,
.item4 > h3,
.item6 > h3,
.item7 > div > h3 {
width: 86%;
margin: 30px auto;
color: rgb(230, 203, 164);
color: rgb(206, 175, 133);
color: rgb(179, 154, 121);
color: rgb(138, 117, 90); 
}

.item3 > div > p,
.item4 > p,
.item6 > p,
.item7 > div > p {
width: 86%;
margin-bottom: 30px;
color: rgb(151, 151, 151);
text-align: justify;
}

.item3,
.item4,
.item6,
.item7 {
background-color: rgba(250, 244, 235, 0.726);
background-color: rgba(248, 237, 220, 0.432);
background-color: rgba(248, 237, 220, 0.445);
}
               /* servicios index */

.prueba {
   display: flex;
   flex-direction: column;
}

.prueba__h3 {
   background-color: rgba(105, 102, 102, 0.637);
   background-color: rgba(206, 176, 133, 0.493);
   background-color: rgba(202, 179, 146, 0.61);
   color: rgb(253, 253, 237);
   color: white;
   border: solid 1px rgb(207, 179, 142);
   font-weight: 700;
}

.prueba__div {
   width: 100%;
   background-color: rgba(248, 237, 220, 0.5);
   background-color: rgba(248, 237, 220, 0.438);
   border: solid 1px rgb(226, 197, 159);
   
}

.prueba__img,
.prueba__img1,
.prueba__img2,
.prueba__img3 {
   border: solid 2px rgb(207, 179, 142);
   border: solid 1px rgb(226, 197, 159);
}

.prueba__divPP {
   color: rgb(160, 138, 108);
   text-align: center; 
}

.prueba__a {
   background-color: rgba(206, 176, 133, 0.493);
   background-color: rgba(202, 179, 146, 0.61);
   color: rgb(253, 253, 237);
   color: white;
   border: solid 1px rgb(207, 179, 142);
}

.castetLogo1 {
   width: 95%;
   margin: 0px auto;
   justify-content: space-between;
}

.contenedor .item3 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: auto;
}

.contenedor .item3 img {
   width: 100%;
}

.h3Contacto {
   color: #000000;
   margin-top: 100px;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
}

.subcontenedorAside {
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.itemAside {
   width: auto;
   text-align: center;
   height: auto;
   margin: 10px 0 10px 0;
}

.logosRedes{ 
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   /* border: solid 1px red; */
   width: 50%;
}

i {
   color: silver;
}

}

@media only screen and (min-width: 769px)  {

/*------------------------------------ "MAIN" */
   h2 {
      color: rgba(255, 248, 220, 0.712);
      color: rgb(201, 201, 201);
   }

   .item2,
   .item3,
   .item4,
   .item6,
   .item7 {
      background-image: linear-gradient(to right, black, gray);
      background-image: linear-gradient(to right, black, rgb(80, 79, 79));
   }
   
   .item6 {
      background-image: linear-gradient(to right, black, rgb(63, 62, 62));
   }

   /* .item6 {
      background-image: linear-gradient(to right, black, rgb(80, 79, 79));
   } */

.item3 > div > h3,
.item4 > h3,
.item6 > h3,
.item7 > div > h3 {
color:  #7e7b7e;
}

.item3 > div > p,
.item4 > p,
.item6 > p,
.item7 > div > p {
color: rgb(177, 177, 177);

}

/*------------------------------------ "ASIDE" */

aside {
   background-image: linear-gradient(to right, black, gray);
   padding-top: 50px;
}

/*----------------------------- titulo "SERVICIOS" */

.h2Servicios {
   width: 100%;
   /* border: solid 1px black; */
   padding: 50px ;
   background-image: linear-gradient(to right, black, gray);
   color: rgba(255, 248, 220, 0.712);
}

/*-------------------------------------------- CARDS */
   .prueba {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin: 0px auto;
   }

   .prueba__div {
      width: 24%;
      background-color: rgba(194, 194, 194, 0.521);
      background-image: linear-gradient(to top, black, gray, rgb(155, 155, 155));
   }

   .prueba__div:hover {
      transform: scale(1.03);
   }
   
   .prueba__h3 {
      background-color: rgb(54, 48, 48);
      color: white;
      color: rgb(224, 223, 223);
      border: solid 1px rgb(121, 112, 103);
      font-weight: 700;
   }

   .prueba__img,
   .prueba__img1,
   .prueba__img2 {
      border: solid 1px rgb(172, 172, 172);
   }
   
   .prueba__divPP {
      width: 90%;
      color: rgb(202, 202, 202);
      color: rgb(224, 223, 223);
   }
   
   .prueba__a {
      background-color: rgb(54, 48, 48);
      color: rgb(253, 253, 237);
   }

   .prueba__a:hover {
      color: rgb(219, 219, 219);
   }

   /*----------------------------- titulo "DONDE ENCONTRARNOS */

   .h3Contacto {
      padding: 50px ;
      background-image: linear-gradient(to right, black, gray, rgb(241, 241, 241));
      background-image: linear-gradient(to right, black, gray);
      color: rgba(255, 248, 220, 0.712);
      /* color: rgb(255, 248, 220); */
      /* color: rgb(241, 236, 213); */

   }

   /*----------------------------- IFRAME E IMAGEN LADRILLO */

   .imgLadrillo__h3 {
      margin-top: 20px;
   }

   .subcontenedorAside {
      justify-content: space-around;
      width: 90%;
      margin-left: 35px;
      margin-top: 30px;
   }
   
   .itemAside {
      width: auto;
      text-align: center;
      height: auto;
      margin: 10px 0 10px 0;
  }

  /*--------------------------------------------- FOOTER */
  
   .estudioFooter {
     display: flex;
     flex-direction: column;
     background-image: linear-gradient(to right, black, gray);
     background: black;
  }

  .estudioFooter {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
  }

  .logosRedes {
     width: 16%;
  }

  i {
     color: rgb(158, 158, 158);
  }
  
}