@charset "UTF-8";
.brand--background {
  background-color: black;
  height: 40px;
  margin: 0px 5px;
  padding: 5px;
}

.brand--background .brand__nombreBrand {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.brand--background .brand__simboloMas {
  color: crimson;
}

.lineaLista__enlace--hover:hover {
  border-bottom: solid 1px black;
  margin-top: -5px;
  font-weight: 600;
  background-color: rgba(172, 172, 172, 0.33);
}

.carousel-inner--height {
  height: 70vh;
}

.carousel-item__img {
  height: 70vh;
}

.divTituloEstudio {
  width: 75%;
  margin: 0px auto;
}

.divTituloEstudio h1 {
  font-size: 38px;
  font-weight: 100;
  color: #7e7b7e;
  color: #a1a0a1;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.estudioParrafos {
  width: 75%;
  margin: 0px auto;
}

.estudioParrafos img {
  width: 100%;
  height: 750px;
  margin-bottom: 30px;
  border: solid 1px #a1a0a1;
}

.estudioParrafos p {
  color: #7e7b7e;
  color: #a1a0a1;
  color: silver;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: justify;
  padding-bottom: 20px;
}

.asideEstudio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainProyectos {
  border: solid 1px black;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(#363636), to(gray));
  background-image: linear-gradient(to top, black, #363636, gray);
}

.galeriaProyectos--flex {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px auto;
}

.galeriaProyectos--flex .galeriaProyectos__imgProyectos {
  width: 20%;
  height: 80%;
  padding: 10px;
}

.main_Servicios {
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(gray));
  background-image: linear-gradient(to left, black, gray);
}

.h1servicios--ubicacion {
  position: absolute;
  margin-left: 24%;
  margin-top: 130px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.arquitectonico__video, .ejecutiva__video1, .construccion__video2, .designe__video3 {
  width: 611px;
  height: 474px;
}

#diseño_arquitectonico--flex, #direccion_de_obra_ejecutiva--flex, #construccion_administracion--flex, #interior_designe--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 250px;
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(gray));
  background-image: linear-gradient(to left, black, gray);
}

.arquitectonico--flex, .ejecutiva--flex, .construccion--flex, .designe--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  padding-left: 100px;
}

.arquitectonico1--width, .ejecutiva1--width, .construccion1--width, .designe1--width {
  width: 40%;
}

.arquitectonico1--width .arquitectonico1__h2, .arquitectonico1--width .ejecutiva1__h2, .arquitectonico1--width .construccion1__h2, .arquitectonico1--width .designe1__h2, .ejecutiva1--width .arquitectonico1__h2, .ejecutiva1--width .ejecutiva1__h2, .ejecutiva1--width .construccion1__h2, .ejecutiva1--width .designe1__h2, .construccion1--width .arquitectonico1__h2, .construccion1--width .ejecutiva1__h2, .construccion1--width .construccion1__h2, .construccion1--width .designe1__h2, .designe1--width .arquitectonico1__h2, .designe1--width .ejecutiva1__h2, .designe1--width .construccion1__h2, .designe1--width .designe1__h2 {
  margin-bottom: 15px;
  padding-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #7e7b7e;
  color: #979497;
  color: silver;
}

.arquitectonico1--width .arquitectonico1__h3, .arquitectonico1--width .ejecutiva1__h3, .arquitectonico1--width .construccion1__h3, .ejecutiva1--width .arquitectonico1__h3, .ejecutiva1--width .ejecutiva1__h3, .ejecutiva1--width .construccion1__h3, .construccion1--width .arquitectonico1__h3, .construccion1--width .ejecutiva1__h3, .construccion1--width .construccion1__h3, .designe1--width .arquitectonico1__h3, .designe1--width .ejecutiva1__h3, .designe1--width .construccion1__h3 {
  padding: 0px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #686568;
  color: #5e5e5e;
}

.arquitectonico1--width .arquitectonico1__p, .arquitectonico1--width .ejecutiva1__p, .arquitectonico1--width .construccion1__p, .arquitectonico1--width .designe1__p, .ejecutiva1--width .arquitectonico1__p, .ejecutiva1--width .ejecutiva1__p, .ejecutiva1--width .construccion1__p, .ejecutiva1--width .designe1__p, .construccion1--width .arquitectonico1__p, .construccion1--width .ejecutiva1__p, .construccion1--width .construccion1__p, .construccion1--width .designe1__p, .designe1--width .arquitectonico1__p, .designe1--width .ejecutiva1__p, .designe1--width .construccion1__p, .designe1--width .designe1__p {
  margin-bottom: 20px;
  padding: 0px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #7e7b7e;
  color: #8d8c8d;
}

.ejecutiva1__ul {
  margin-left: 20px;
  color: #8d8c8d;
}

.asideContacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
  background-image: linear-gradient(to bottom, black, gray);
}

.mainContacto--height {
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
  background-image: linear-gradient(to bottom, black, gray);
}

.mainContacto--height .divIframe__iframe {
  width: 100%;
  margin-bottom: 0px;
}

.mainContacto--height .divInfo--position {
  position: absolute;
  padding-top: 60px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(gray));
  background-image: linear-gradient(to top, black, gray);
}

.mainContacto--height .divInfo--position .divInfo__item {
  width: 30%;
  text-align: center;
  height: 195px;
}

.mainContacto--height .divInfo--position .itemContacto .itemContacto__h2 {
  text-transform: uppercase;
}

.mainContacto--height .divInfo--position .itemContacto .itemContacto__p {
  color: #7e7b7e;
  width: 100%;
}

.mainContacto--height .contactoTitulo--medidas {
  width: 100%;
  margin-top: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #7e7b7e;
  font-size: 20px;
  background-color: black;
}

.mainContacto--height .contactoTitulo--medidas .contactoTitulo__h1 {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
}

.mainContacto--height .contactoTitulo--medidas .contactoTitulo__p {
  font-size: 18px;
  padding: 1px 0px;
}

.formContacto--medidas {
  width: 50%;
  margin: 0px auto;
}

.formContacto--medidas .formContacto__inputForm {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 50px;
  border: solid 1px #b4b1b4;
  border-radius: 4px;
}

.formContacto--medidas .formContacto__inputForm1 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: solid 1px #b4b1b4;
  border-radius: 4px;
}

.formContacto--medidas .desplegableForm--align {
  text-align: center;
}

.formContacto--medidas .desplegableForm__selectForm--margin {
  margin-bottom: 10px;
  margin-top: 4px;
  background-color: black;
  color: silver;
}

.formContacto--medidas .btn-dark {
  margin-bottom: 50px;
}

.formContacto--medidas .btn-dark__formBtn {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.formContacto--medidas .btn-dark__formBtn:hover {
  color: #c5c4c5;
}

.modal-title {
  background-color: black;
  color: white;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
}

.modal-title .modal-title__span1 {
  color: crimson;
}

.modal-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

span {
  color: silver;
}

.estudioFooter--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding: 10px 15px;
}

.castetLogo--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.castetLogo--flex .logo--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7e7b7e;
  width: auto;
  height: 50px;
  margin-right: 11px;
}

.castetLogo--flex .logo__letras {
  font-family: 'Black Ops One', cursive;
  font-size: 22px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 30%;
  padding: 5px;
}

.legend--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.legend--flex .legend__p1 {
  color: #afaeaf;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}

.legend--flex .legend__span {
  color: red;
  margin: 0px 5px;
}

.legend--flex .legend__p2 {
  color: #7e7b7e;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.logosRedes--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logosRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

i {
  color: crimson;
  font-size: 40px;
}

@media only screen and (min-width: 476px) and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .carousel {
    height: 350px;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .carousel-item > img {
    height: 100%;
  }
  /* ------------------------------- MAIN */
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .contenedor .contenedor__item1 {
    width: 100%;
  }
  .contenedor .contenedor__item1 .contenedor__item1__imgIndex {
    width: 100%;
    margin-top: 40px;
  }
  .contenedor .contenedor__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contenedor .contenedor__item2 .contenedor__item2__h2 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    font-size: 32px;
    text-transform: uppercase;
  }
  .contenedor .contenedor__item2 .contenedor__item2__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-align: justify;
  }
  .contenedor .contenedor__item2__enlaceHome {
    width: 10%;
    margin-left: 5%;
    margin-top: 30px;
  }
  .contenedor .contenedor__item2__enlaceHome .contenedor__item2__enlaceHome__a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
  }
  .contenedor1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor1 .contenedor1__item3 {
    width: 100%;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div {
    width: 100%;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div .contenedor1__item3__div__h3 {
    width: 90%;
    margin: 0px auto;
    text-transform: uppercase;
    margin-top: 40px;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div .contenedor1__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div1 {
    width: 100%;
    height: 500px;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div1 .contenedor1__item3__div1__imgAm {
    width: 100%;
  }
  .contenedor1 .contenedor1__item4 {
    width: 100%;
  }
  .contenedor1 .contenedor1__item4 .contenedor1__item4__imgCk {
    width: 100%;
  }
  .contenedor2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor2 .contenedor2__item5 {
    width: 100%;
  }
  .contenedor2 .contenedor2__item5 .contenedor2__item5__imgCrystal {
    width: 100%;
  }
  .contenedor2 .contenedor2__div {
    width: 100%;
  }
  .contenedor2 .contenedor2__div .contenedor2__div__h3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .contenedor2 .contenedor2__div .contenedor2__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor3 .contenedor3__item6 {
    width: 100%;
  }
  .contenedor3 .contenedor3__item6 .contenedor3__item6__imgCp {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__div {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__div .contenedor3__item7__div__imgDg {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p .contenedor3__item7__p__h3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p .contenedor3__item7__pp {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor4 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor4 .contenedor4__div {
    width: 100%;
  }
  .contenedor4 .contenedor4__div .contenedor4__div__h3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .contenedor4 .contenedor4__div .contenedor4__div__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor4 .contenedor4__item8 {
    width: 100%;
  }
  .contenedor4 .contenedor4__item8 .contenedor4__item8__imgJs {
    width: 100%;
  }
  .aside__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .aside__index .divVariables .h2Servicios {
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .aside__index .prueba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .aside__index .prueba .prueba__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
    background-color: rgba(248, 237, 220, 0.5);
    background-color: rgba(248, 237, 220, 0.438);
    border: solid 1px #e2c59f;
  }
  .aside__index .prueba .prueba__div .prueba__h3 {
    background-color: rgba(105, 102, 102, 0.637);
    background-color: rgba(206, 176, 133, 0.493);
    background-color: rgba(202, 179, 146, 0.61);
    color: #fdfded;
    color: white;
    border: solid 1px #cfb38e;
    font-weight: 700;
    text-align: center;
  }
  .aside__index .prueba .prueba__div .prueba__img {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/diseño_arquitectonico.jpg);
    background-size: cover;
  }
  .aside__index .prueba .prueba__div .prueba__img1 {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/direccion_de_obra.jpg);
    background-size: cover;
  }
  .aside__index .prueba .prueba__div .prueba__img2 {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/construccion_administracion_1.jpg);
    background-size: cover;
    background-position: center;
  }
  .aside__index .prueba .prueba__div .prueba__img3 {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/interior_6.png);
    background-size: cover;
    background-position: center;
  }
  .aside__index .prueba .prueba__div .prueba__divP {
    margin-top: 10px;
  }
  .aside__index .prueba .prueba__div .prueba__divP .prueba__divPP {
    color: #a08a6c;
    text-align: center;
  }
  .aside__index .prueba .prueba__div .prueba__a {
    padding: 5px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: rgba(206, 176, 133, 0.493);
    background-color: rgba(202, 179, 146, 0.61);
    color: #fdfded;
    color: white;
    border: solid 1px #cfb38e;
    text-decoration: none;
  }
  .h3Contacto {
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
  .contenedorAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contenedorAside .iframe {
    width: 100%;
    margin-top: 20px;
  }
  .contenedorAside .imgLadrillo {
    height: 500px;
    width: 100%;
    background-image: url(imagenes/pared_ladrillos.jpeg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedorAside .imgLadrillo .imgLadrillo__h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
  }
  .contenedorAside .imgLadrillo .subcontenedorAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 90%;
    margin: 0px auto;
  }
  .contenedorAside .imgLadrillo .subcontenedorAside .itemAside {
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px 0 10px 0;
  }
  .contenedorAside .imgLadrillo .subcontenedorAside .itemAside .itemAside__p {
    color: black;
    font-weight: 500;
  }
  .logosRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    /* border: solid 1px red; */
    width: 50%;
  }
  i {
    color: silver;
  }
  .castetLogo1 {
    width: 95%;
    margin: 0px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subcontenedorAside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .itemAside {
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px 0 10px 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
  .navbar {
    width: 100%;
  }
  .carousel {
    height: 550px;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .carousel-item > img {
    height: 100%;
  }
  /* ------------------------------- MAIN */
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .contenedor .contenedor__item1 {
    width: 100%;
  }
  .contenedor .contenedor__item1 .contenedor__item1__imgIndex {
    width: 100%;
    margin-top: 40px;
  }
  .contenedor .contenedor__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contenedor .contenedor__item2 .contenedor__item2__h2 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    font-size: 32px;
    text-transform: uppercase;
  }
  .contenedor .contenedor__item2 .contenedor__item2__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-align: justify;
  }
  .contenedor .contenedor__item2__enlaceHome {
    width: 10%;
    margin-left: 5%;
    margin-top: 30px;
  }
  .contenedor .contenedor__item2__enlaceHome .contenedor__item2__enlaceHome__a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
  }
  .contenedor1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor1 .contenedor1__item3 {
    width: 100%;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div {
    width: 100%;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div .contenedor1__item3__div__h3 {
    width: 90%;
    margin: 0px auto;
    text-transform: uppercase;
    margin-top: 40px;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div .contenedor1__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div1 {
    width: 100%;
    height: 1000px;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div1 .contenedor1__item3__div1__imgAm {
    width: 100%;
  }
  .contenedor1 .contenedor1__item4 {
    width: 100%;
  }
  .contenedor1 .contenedor1__item4 .contenedor1__item4__imgCk {
    width: 100%;
  }
  .contenedor2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor2 .contenedor2__item5 {
    width: 100%;
  }
  .contenedor2 .contenedor2__item5 .contenedor2__item5__imgCrystal {
    width: 100%;
  }
  .contenedor2 .contenedor2__div {
    width: 100%;
  }
  .contenedor2 .contenedor2__div .contenedor2__div__h3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .contenedor2 .contenedor2__div .contenedor2__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedor3 .contenedor3__item6 {
    width: 100%;
  }
  .contenedor3 .contenedor3__item6 .contenedor3__item6__imgCp {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__div {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__div .contenedor3__item7__div__imgDg {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p .contenedor3__item7__p__h3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p .contenedor3__item7__pp {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor4 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor4 .contenedor4__div {
    width: 100%;
  }
  .contenedor4 .contenedor4__div .contenedor4__div__h3 {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .contenedor4 .contenedor4__div .contenedor4__div__p {
    width: 90%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
  }
  .contenedor4 .contenedor4__item8 {
    width: 100%;
  }
  .contenedor4 .contenedor4__item8 .contenedor4__item8__imgJs {
    width: 100%;
  }
  .aside__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .aside__index .divVariables .h2Servicios {
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .aside__index .prueba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .aside__index .prueba .prueba__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
    background-color: rgba(248, 237, 220, 0.5);
    background-color: rgba(248, 237, 220, 0.438);
    border: solid 1px #e2c59f;
  }
  .aside__index .prueba .prueba__div .prueba__h3 {
    background-color: rgba(105, 102, 102, 0.637);
    background-color: rgba(206, 176, 133, 0.493);
    background-color: rgba(202, 179, 146, 0.61);
    color: #fdfded;
    color: white;
    border: solid 1px #cfb38e;
    font-weight: 700;
    text-align: center;
  }
  .aside__index .prueba .prueba__div .prueba__img {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/diseño_arquitectonico.jpg);
    background-size: cover;
  }
  .aside__index .prueba .prueba__div .prueba__img1 {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/direccion_de_obra.jpg);
    background-size: cover;
  }
  .aside__index .prueba .prueba__div .prueba__img2 {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/construccion_administracion_1.jpg);
    background-size: cover;
    background-position: center;
  }
  .aside__index .prueba .prueba__div .prueba__img3 {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    background-image: url(imagenes/interior_6.png);
    background-size: cover;
    background-position: center;
  }
  .aside__index .prueba .prueba__div .prueba__divP {
    margin-top: 10px;
  }
  .aside__index .prueba .prueba__div .prueba__divP .prueba__divPP {
    color: #a08a6c;
    text-align: center;
  }
  .aside__index .prueba .prueba__div .prueba__a {
    padding: 5px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: rgba(206, 176, 133, 0.493);
    background-color: rgba(202, 179, 146, 0.61);
    color: #fdfded;
    color: white;
    border: solid 1px #cfb38e;
    text-decoration: none;
  }
  .h3Contacto {
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
  .contenedorAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contenedorAside .iframe {
    width: 100%;
    margin-top: 20px;
  }
  .contenedorAside .imgLadrillo {
    height: 500px;
    width: 100%;
    background-image: url(imagenes/pared_ladrillos.jpeg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedorAside .imgLadrillo .imgLadrillo__h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
  }
  .contenedorAside .imgLadrillo .subcontenedorAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 90%;
    margin: 0px auto;
  }
  .contenedorAside .imgLadrillo .subcontenedorAside .itemAside {
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px 0 10px 0;
  }
  .contenedorAside .imgLadrillo .subcontenedorAside .itemAside .itemAside__p {
    color: black;
    font-weight: 500;
  }
  .logosRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    /* border: solid 1px red; */
    width: 50%;
  }
  i {
    color: silver;
  }
  .castetLogo1 {
    width: 95%;
    margin: 0px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subcontenedorAside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .itemAside {
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px 0 10px 0;
  }
}

@media only screen and (min-width: 1401px) {
  .carousel {
    height: 650px;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .carousel-item > img {
    height: 100%;
  }
  h2 {
    color: rgba(255, 248, 220, 0.712);
    color: #c9c9c9;
  }
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedor .contenedor__item2 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedor .contenedor__item2 .contenedor__item2__h2 {
    width: 30%;
    margin-top: 10%;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(255, 248, 220, 0.712);
    color: #c9c9c9;
  }
  .contenedor .contenedor__item2 .contenedor__item2__p {
    width: 86%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: #777777;
    line-height: 28px;
  }
  .contenedor .contenedor__item2 .contenedor__item2__enlaceHome {
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 2%;
    width: 7%;
  }
  .contenedor .contenedor__item2 .contenedor__item2__enlaceHome .contenedor__item2__enlaceHome__a {
    text-decoration: none;
    text-transform: uppercase;
    color: #7e7b7e;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-left: 7.5%;
  }
  .contenedor .contenedor__item2 .contenedor__item2__enlaceHome:hover a {
    color: silver;
    color: rgba(255, 248, 220, 0.712);
  }
  .contenedor1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .contenedor1 .contenedor1__item3 {
    width: 61%;
    height: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div {
    width: 58%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor1 .contenedor1__item3 .contenedor1__item3__div1 .contenedor1__item3__div1__imgAm {
    width: 100%;
    height: 100%;
  }
  .contenedor1 .contenedor1__item4 {
    width: 50%;
    height: 530px;
  }
  .contenedor1 .contenedor1__item4 .contenedor1__item4__imgCk {
    width: 100%;
    height: 100%;
  }
  .contenedor2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .contenedor2 .contenedor2__item5 {
    width: 117.4%;
  }
  .contenedor2 .contenedor2__item5 .contenedor2__item5__imgCrystal {
    width: 100%;
  }
  .contenedor2 .contenedor2__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .contenedor3 .contenedor3__item6 {
    width: 156.8%;
  }
  .contenedor3 .contenedor3__item6 .contenedor3__item6__imgCp {
    width: 100%;
  }
  .contenedor3 .contenedor3__item7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__div {
    width: 170%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__div .contenedor3__item7__div__imgDg {
    width: 100%;
    height: 100%;
  }
  .contenedor3 .contenedor3__item7 .contenedor3__item7__p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .contenedor4 .contenedor4__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor4 .contenedor4__item8 {
    width: 75.5%;
  }
  .contenedor4 .contenedor4__item8 .contenedor4__item8__imgJs {
    width: 100%;
  }
  .contenedor__item2,
  .contenedor1__item3,
  .contenedor2__div,
  .contenedor3__item7 {
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(#504f4f));
    background-image: linear-gradient(to right, black, #504f4f);
  }
  .contenedor4__div {
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(#3f3e3e));
    background-image: linear-gradient(to right, black, #3f3e3e);
  }
  .contenedor1__item3 > div > h3,
  .contenedor2__div__h3,
  .contenedor4__div__h3,
  .contenedor3__item7 > div > h3 {
    color: #7e7b7e;
    color: #6e6d6e;
    color: #505050;
    margin-left: 7%;
    text-transform: uppercase;
  }
  .contenedor1__item3 > div > p,
  .contenedor2__div > p,
  .contenedor4__div__p,
  .contenedor3__item7 > div > p {
    color: #b1b1b1;
    width: 87%;
    margin: 0px auto;
    text-align: justify;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
  }
  .aside__index {
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    padding-top: 50px;
  }
  /* titulo servicios aside index */
  .h2Servicios {
    color: #000000;
    padding-top: 50px;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    color: rgba(255, 248, 220, 0.712);
  }
  .prueba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin: 0px auto;
  }
  .prueba__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24%;
    height: 590px;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 10px auto;
    width: 24%;
    background-color: rgba(194, 194, 194, 0.521);
    background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(gray), to(#5a5a5a));
    background-image: linear-gradient(to top, black, gray, #5a5a5a);
  }
  .prueba__div:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .prueba__h3 {
    background-color: #363030;
    color: white;
    color: #e0dfdf;
    border: solid 1px #797067;
    font-weight: 700;
    color: #afafaf;
    width: 95%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: solid 1px #888888;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #f0f0f0;
    background-color: rgba(94, 91, 91, 0.637);
  }
  .prueba__img {
    width: 95%;
    min-height: 280px;
    margin: 0px auto;
    border-radius: 5px;
    background-image: url(imagenes/diseño_arquitectonico.jpg);
    background-size: cover;
    border: solid 1px #acacac;
  }
  .prueba__img1 {
    width: 95%;
    min-height: 280px;
    margin: 0px auto;
    border-radius: 5px;
    background-image: url(imagenes/direccion_de_obra.jpg);
    background-size: cover;
    border: solid 1px #acacac;
  }
  .prueba__img2 {
    width: 95%;
    min-height: 280px;
    margin: 0px auto;
    border-radius: 5px;
    background-image: url(imagenes/construccion_administracion_1.jpg);
    background-size: cover;
    border: solid 1px #acacac;
  }
  .prueba__img3 {
    width: 95%;
    min-height: 280px;
    margin: 0px auto;
    border: solid 2px #acacac;
    border-radius: 5px;
    background-image: url(imagenes/interior_6.png);
    background-size: cover;
  }
  .prueba__divP {
    width: 95%;
    height: 90px;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
  }
  .prueba__divPP {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    color: #aaaaaa;
    margin: 10px auto;
    text-align: justify;
  }
  .prueba__a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4c4c;
    background-color: #d1d1d1;
    background-color: lightgray;
    background-color: rgba(80, 77, 77, 0.637);
    color: #5b5b5c;
    color: #f5f1f1;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 700;
  }
  .prueba__a:hover {
    color: #dbdbdb;
  }
  /*------------- titulo "DONDE ENCONTRARNOS */
  .h3Contacto {
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(gray), to(#f1f1f1));
    background-image: linear-gradient(to right, black, gray, #f1f1f1);
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    color: rgba(255, 248, 220, 0.712);
  }
  .contenedorAside {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedorAside .iframe, .contenedorAside .imgLadrillo {
    width: 50%;
  }
  .contenedorAside .imgLadrillo {
    background-image: url(imagenes/pared_ladrillos_2.jpeg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    position: relative;
  }
  .contenedorAside .imgLadrillo .imgLadrillo__h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 100;
    color: #ffffff;
  }
  .contenedorAside .subcontenedorAside {
    margin-top: 35%;
    width: 100%;
    height: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contenedorAside .subcontenedorAside .itemAside {
    width: 20%;
    text-align: center;
    height: 75%;
  }
  .contenedorAside .subcontenedorAside .itemAside .itemAside__h4 {
    /* padding-bottom: 15px; */
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
  }
  .contenedorAside .subcontenedorAside .itemAside .itemAside__p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .imgLadrillo__h3 {
    margin-top: 20px;
  }
  .subcontenedorAside {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin-left: 35px;
    margin-top: 30px;
  }
  .itemAside {
    width: auto;
    text-align: center;
    height: auto;
    margin: 10px 0 10px 0;
  }
  .estudioFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left top, right top, from(black), to(gray));
    background-image: linear-gradient(to right, black, gray);
    background: black;
  }
  .estudioFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logosRedes {
    width: 10%;
  }
  i {
    color: #9e9e9e;
  }
  .mainEstudio {
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
    background-image: linear-gradient(to bottom, black, gray);
    padding-bottom: 26px;
    margin-bottom: 9px;
  }
  .asideEstudio {
    padding-top: 80px;
    padding-bottom: 50px;
    margin-top: -11px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(gray));
    background-image: linear-gradient(to top, black, gray);
  }
}
/*# sourceMappingURL=estilos.css.map */